.carousell-item {
  position: relative;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
}

.carousell-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousell-caption {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.carousell-title {
  color: #fff;
  font-weight: 700;
}

.carousell-description {
  color: #fff;
  font-weight: 700;
}

/* ----------------------- media queries ----------------------- */

@media screen and (max-width: 576px) {
  .carousell-title {
    font-size: 1.3rem;
  }

  .carousell-description {
    font-size: 1rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .carousell-title {
    font-size: 1.5rem;
  }

  .carousell-description {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1400px) {
  .carousell-item {
    height: 800px;
  }

  .carousell-title {
    font-size: 2rem;
  }

  .carousell-description {
    font-size: 1.3rem;
  }
}
