.navbar {
  padding: 0 2rem;
  /* background: linear-gradient(to right, #25657e, #689cb1); */
  backdrop-filter: blur(15px);
  border-bottom: 3px solid #216783;
}

.nav-image {
  height: 90px;
  object-fit: cover;
}

.nav-link {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
}

.nav-link:hover {
  color: #0a3c50;
}
